@charset "utf-8";

@font-face
{
  font-family: 'Sniglet';
  src        : url( /font/Sniglet/Sniglet-Regular.ttf );
}

@font-face
{
  font-family: 'Inconsolata';
  src        : url( /font/Inconsolata/Inconsolata-Regular.ttf );
}